<a href="https://colab.research.google.com/github/nikk-16/basic-ML/blob/main/Spam_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Our Mission ##

Use Naive Bayes to classify spam messages in this [dataset](https://archive.ics.uci.edu/ml/datasets/SMS+Spam+Collection).

In [80]:
# Import our libraries
import pandas as pd
import nltk
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import WordNetLemmatizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix


# Read in our dataset
df = pd.read_csv('/content/SMSSpamCollection.csv',
                   sep='\t', 
                   header=None, 
                   names=['label', 'sms_message'])

# df = pd.to_csv(df)

In [81]:
# import csv
# with open('data.csv', 'w') as fp:
#    writer = csv.writer(fp)
#   #  writer.writerow(header)
#    for row in range (0, len(df)):
#       writer.writerow([i[] for i in df[row]])

In [82]:
# dataset = pd.read_csv('/content/data.csv' , sep='\t',  names=['label', 'sms_message'])

In [83]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [84]:
df

     label                                        sms_message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [97]:
# Lemmatization
from nltk.corpus import stopwords
corpus=[]
lem = WordNetLemmatizer()
sentences= df['sms_message']
for i in range (0, len(df)):
  words = nltk.word_tokenize(df['sms_message'][i])
  words = [lem.lemmatize(word) for word in words if word not in set(stopwords.words("english"))]
  sentence = ' '.join(words)
  corpus.append(sentence)

In [98]:
# Fix our response value
# y = pd.get_dummies(df['label'])
# y = y.iloc[:,1].values

y = df['label']
from sklearn.preprocessing import LabelEncoder
y= LabelEncoder().fit_transform(df['label'])
# Instantiate the CountVectorizer method
count_vector = CountVectorizer(max_features=2000)

# Fit the training data and then return the matrix
X = count_vector.fit_transform(corpus).toarray()

# Split our dataset into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, test_size=0.20
                                                    ,random_state=0)

In [99]:
X_test

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [89]:
y

array([0, 0, 1, ..., 0, 0, 0])

In [90]:


# Transform testing data and return the matrix. Note we are not fitting the testing data into the CountVectorizer()
# testing_data = count_vector.transform(X_test)

# Instantiate our model
naive_bayes = MultinomialNB()

# Fit our model to the training data
naive_bayes.fit(X_train, y_train)

# Predict on the test data
predictions = naive_bayes.predict(X_test)

# Score our model
print('Confusion Matrix: ', format(confusion_matrix(predictions, y_test)))
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Confusion Matrix:  [[948   7]
 [  7 153]]
Accuracy score:  0.9874439461883409
Precision score:  0.95625
Recall score:  0.95625
F1 score:  0.95625